Package: me.tejasp.nobadges
Name: NoBadges
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Removes ALL the badges!
Maintainer: Tejas Prakash
Author: Tejas Prakash
Section: Tweaks
